{extend name='base' /}
{block name='content'}
<article>
    <div class="_head category_title">
        <h2>
            {$head_data.title}：
            <!--分类：-->
            {$head_data.name}
        </h2>
								<span>
									共 {$head_data.count}篇文章
								</span>
    </div>
</article>
{foreach name='article_datas' item='vo'}
<article>
    <div class="_head">
        <h1>{$vo.v_title}</h1>
								<span>
								作者：
								{$vo.v_author}
								</span>
        •
        <!--pubdate表⽰示发布⽇日期-->
        <time pubdate="pubdate" datetime="">{:date('Y-m-d H:i:s',$vo['n_create_time'])}</time>
        •
        分类：
        <a href="{:url('index/lists/index',['cat_id'=>$vo['n_cat_id']])}">{$vo.v_cat_name}</a>
    </div>
    <div class="_digest">
        <img src="{$vo['v_cover_src']}"  class="img-responsive"/>
        <p>
            {$vo.v_digest}
        </p>
    </div>
    <div class="_more">
        <a href="{:url('index/content/index',['article_id'=>$vo['n_id']])}" class="btn btn-default">阅读全文</a>
    </div>
    <div class="_footer">
        <i class="glyphicon glyphicon-tags"></i>
        {foreach name='$vo["tags"]' item='v'}
        <a href="{:url('index/lists/index',['tag_id'=>$vo['n_id']])}">{$v.v_tag_name}</a>、
        {/foreach}
</article>
{/foreach}
{/block}