{extend name='base' /}
{block name='content'}
<ol class="breadcrumb" style="background-color: #f9f9f9;padding:8px 0;margin-bottom:10px;">
    <li>
        <a href=""><i class="fa fa-cogs"></i>
            文章管理</a>
    </li>
    <li class="active">
        <a href="">回收站管理</a>
    </li>
</ol>
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#tab1">回收站管理</a></li>
</ul>
<form action="" method="post">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="5%">编号</th>
                    <th>文章名称</th>
                    <th>文章作者</th>
                    <th width="10%">排序</th>
                    <th>所属分类</th>
                    <th>添加时间</th>
                    <th width="200">操作</th>
                </tr>
                </thead>
                <tbody>
                {foreach name='article_data' item='vo'}
                <tr>
                    <td>{$vo.n_id}</td>
                    <td>{$vo.v_title}</td>
                    <td>{$vo.v_author}</td>
                    <td>
                        <input type="text" class="form-control"  value="{$vo.n_sort}" onblur="changeSort(this,{$vo['n_id']})">
                    </td>
                    <td>{$vo.v_cat_name}</td>
                    <td>{:date('Y-m-d',$vo['n_create_time'])}</td>
                    <td>
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="{:url('outToRecycle',['n_id'=>$vo['n_id']])}">恢复</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:void(0);" onclick="del({$vo['n_id']})">删除</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</form>
<div class="pagination pagination-sm pull-right">
{$article_data->render()}
</div>
<script>
    function del(id){
        util.confirm('你确定要删除么？',function(){
            location.href = "{:url('del')}"+"?id="+id
        })
    }
    function changeSort(obj,id){
        var sort = $(obj).val();
        $.post("{:url('changeSort')}",{n_sort:sort,n_id:id},function(data){
             if(data.code==1){
                 //修改成功
                 util.message(data.msg,'refresh','success');
             }else{
                 //修改失败
                 util.message(data.msg,'back','error');
             }
        })
    }
</script>
{/block}