{extend name='base' /}
{block name='content'}
<article>
    <div class="_head">
        <h1>{$article.v_title}</h1>
								<span>
								作者：
								<a href="">{$article.v_author}</a>
								</span>
        •
        <!--pubdate表⽰示发布⽇日期-->
        <time pubdate="pubdate" datetime="{:date('Y-m-d H:i:s',$article['n_create_time'])}">{:date('Y-m-d H:i:s',$article['n_create_time'])}</time>
    </div>
    <div class="_digest">
        <p>
            {$article.v_desc}
        </p>
    </div>
    <div class="_footer">
        <i class="glyphicon glyphicon-tags"></i>
        {foreach name='tag' item='vo'}
        <a href="{:url('index/lists/index',['tag_id'=>$vo['n_id']])}">{$vo.v_tag_name}、</a>
        {/foreach}
    </div>
</article>
{/block}